<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>创建</title>
    </head>
    <body>
        <form action="/BankSystem/create_branch/" method="post">
            <p>
                name <input type="text" name="name" value="">
            </p>
            <p>
                city <input type="text" name="city" value="">
            </p>
            <p>
                assets <input type="text" name='assets' value="">
            </p>
            <p>
                <input type="submit" value="创建">
            </p>
    </body>
</html>