<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>查看所有支行</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'BankSystem/layui/css/layui.css' %}" >
    </head>
    <body>
        <table class="layui-table">
            <thead>
            <tr>
                <th>支行名</th>
                <th>所在城市</th>
                <th>资产</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for branch in all_branches %}
                <tr>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.city }}</td>
                    <td>{{ branch.assets }}</td>
                    <td>
                        <a href="/BankSystem/update_branch?branch_name={{ branch.name }}" class="layui-btn">修改</a>
                        <a href="/BankSystem/delete_branch?branch_name={{ branch.name }}" class="layui-btn">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>
            <a href="/BankSystem/create_branch/" class="layui-btn">创建新的支行</a>
            <a href="/BankSystem/" class="layui-btn">返回首页</a>
        </p>


        <script src="{% static 'BankSystem/layui/layui.js' %}"></script>
        <script>
            //注意：导航 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function(){
              var element = layui.element;
              
              //…
            });
        </script>
    </body>
</html>