<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'BankSystem/layui/css/layui.css' %}" >
</head>
<body>
    

    <script src="{% static 'BankSystem/layui/layui.js' %}"></script>
    <script>
        layui.use('form', function(){
            var form = layui.form;
            
            //监听提交
            form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
            });
        });
    </script>
</body>
</html>