<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>创建贷款支付记录</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'BankSystem/layui/css/layui.css' %}" >
</head>
<body>
    <form class="layui-form" action="/BankSystem/create_payout" method="post"> 
        <div class="layui-form-item">
            <label class="layui-form-label">确认所属贷款号</label>
            <div class="layui-input-inline">
                <input type="text" name="loan_no" value="{{ loan.no }}" readonly required  lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">输入支付金额</label>
            <div class="layui-input-inline">
                <input type="text" name="amount" required  lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">输入支付日期</label>
            <div class="layui-input-inline">
                <input type="text" name="date" placeholder="例如2022-6-1" required  lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">确认创建</label>
            <div class="layui-input-inline">
                <input type="submit" value="提交创建" required  lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>

    <script src="{% static 'BankSystem/layui/layui.js' %}"></script>
    <script>
        layui.use('form', function(){
            var form = layui.form;
            
            //监听提交
            form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
            });
        });
    </script>
</body>
</html>