<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>查看贷款关联客户</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'BankSystem/layui/css/layui.css' %}" >
    </head>
    <body>
        <h2>贷款号: {{ loan_no }}</h2>
        <table class="layui-table">
            <thead>
            <tr>
                <th>客户身份证号</th>
                <th>客户姓名</th>
                <th>客户电话</th>
                <th>客户住址</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.address }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>
            <a href="/BankSystem/add_loan_customer?loan_no={{ loan.no }}&branch_name={{ loan.branch.name }}" class="layui-btn">添加关联客户</a>
        </p>


        <script src="{% static 'BankSystem/layui/layui.js' %}"></script>
        <script>
            //注意：导航 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function(){
              var element = layui.element;
              
              //…
            });
        </script>
    </body>
</html>